body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cpu,
.editor,
.terminal {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.cpu {
    width: 300px;
}

.registers_parent {
    margin-bottom: 20px;
}

.registers {
    display: inline-block;
    width: 140px;
}

.register {
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}

.editor {
    width: 600px;

}

textarea {
    width: 100%;
    font-size: 18px;
}

button {
    padding: 10px;
    margin-top: 10px;
}

.terminal {
    width: 500px;
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
    font-size: 18px;
}

.explanation {
    font-family: monospace;
    font-size: 14px;
}